@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* Color de fons base (Slate 900) per evitar pantallades blanques */
  background-color: #0f172a;
  color: #f8fafc;
}

body {
  margin: 0;
  min-height: 100vh;
}
